body {
	background-color: white;
}

.TitleBox {
	position: relative;
	left: 0px;
	top: 100px;
	color: black;
	width: 600px;
	height: 250px;
	padding: 50px 50px;
	background-color: #555555;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	border-radius: 25px;
}

.top {
	height: 600px;
	background: #000000 url(duck.jpg) 60% 70% no-repeat;
}

.Apply {
	position:absolute;
	left: 150px;
	top: 400px;
	color: white;
	width: 400px;
	height: 50px;
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;
	transition-property: background;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
  	text-align: center;
  	margin: 0 20px 0 0;
}	

.Apply:hover {
	background-color: blue;
}

.navbar {
	overflow: hidden;
	font-family: Verdana;
	font-size: 20px;
	z-index: 1;
    opacity: 1.0;
    background: #000000 url(transparent.png) 100% 100% no-repeat;
}

.navbar a {
	float: left;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Verdana;
	opacity: 1.0;

}

.navbar a:hover {
	color: lightgray;
}