body {
	background-color: cyan;
}

.TitleBox {
	color: black;
	width: 600px;
	height: 250px;
	padding: 14px 16px;
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;
	color: white;
}

head {
	background-image: url("duck.jpg");
	background-color: #cccccc;
	background-clip: border-box;
}

.navbar {
	overflow: hidden;
	background-color: black;
	font-family: Verdana;
	font-size: 20px;

}

.navbar a {
	float: left;
	font-size: 20px;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Verdana;

}

.navbar a:hover {
	color: lightgray;
}