body {
	background-color: cyan;
}

.TitleBox {
	position: relative;
	left: 0px;
	top: 100px;
	color: black;
	width: 600px;
	height: 250px;
	padding: 50px 50px;
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	border-radius: 25px;
}

.top {
	height: 600px;
	background: #000000 url(duck.jpg) 100% 100% no-repeat;
}

.Apply {
	position: relative;
	left: 0px;
	/*top: 100px;*/
	color: black;
	width: 400px;
	height: 70px;
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	border-radius: 25px;
	transition-property: background;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
}

.Apply a {
	position: relative;
	top: 12px;
	text-align: center;
	text-decoration: none;
	font-family: Verdana;
	color: black;
}

.Apply:hover {
	background-color: white;
}

.navbar {
	overflow: hidden;
	background-color: black;
	font-family: Verdana;
	font-size: 20px;

}

.navbar a {
	float: left;
	font-size: 20px;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Verdana;

}

.navbar a:hover {
	color: lightgray;
}